<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>  
    <connectionStrings>
			<add name="PASDatabase" 
				 connectionString="Server=SILINSQL\PatientenAufruf;Database=PAS_Database;User Id=sa;Password=PatientenAufruf4711;" 
				 providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- Web-Server Konfiguration -->
        <add key="WebServerPort" value="9090" />
        <add key="WebServerUrl" value="http://localhost:9090" />
         <add key="PASServerUrl" value="http://192.168.1.175:9090"/>
		 
        <!-- Praxis-Einstellungen -->
        <add key="ZeS-Gaimersheim" value="ZeS-Gaimersheim" />
        <add key="AutoRefreshInterval" value="2000" />
        
        <!-- QR-Code Einstellungen -->
        <add key="QRCodeSize" value="300" />
        <add key="QRCodeErrorCorrection" value="M" />
    </appSettings>
    
    <system.web>
        <httpRuntime maxRequestLength="51200" />
    </system.web>
</configuration>